{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Добавить компанию</h1>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <div class="col-xs-2">
                    {{ form_label(form.name) }}
                </div>
                <div class="col-xs-10">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    {{ form_label(form.description) }}
                </div>
                <div class="col-xs-10">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    {{ form_label(form.process) }}
                </div>
                <div class="col-xs-10">
                    {{ form_widget(form.process) }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-success">Добавить</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}