{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Homepage</h1>
            <p class="lead">Company list.</p>
        </div>
        <a class="btn btn-success" href="{{ url('company-add') }}">Добавить Компанию</a>
        <a class="btn btn-success pull-right" href="{{ url('process-add') }}">Добавить Процесс</a>
        {% if companies is defined %}
            <div class="bs-example">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя</th>
                        <th>Описание</th>
                        <th>Процессы</th>
                        <th>Действия</th>

                    </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <td>{{ company.id }}</td>
                                <td>{{ company.name }}</td>
                                <td>{{ company.description }}</td>
                                <td>
                                    {% if company.process is not null %}
                                        {{ company.process.name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="{{ url('company-edit', {id: company.id}) }}">Редактировать</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}